* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(120, 121, 129, 0.386);

}

main {
    height: 95vh;
    margin-left: 3rem;
}

img {
    border-radius: 50%;
    width: 15%;
    margin-top: 2rem;
}


li {
    margin-left: 15px;
}

h2 {
    color: rgb(35, 85, 124);
    padding: 10px 0;
}

p {
    padding-bottom: 10px;
   
}



footer {
    text-align: center;
    padding-top: 10px;
    background-color: rgb(9, 13, 13);
    color: white;
    height: 5vh;
}